{% extends 'base_bo.html.twig' %}

{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-lg-block bg-login-image">
                                <img src="{{ asset('images/logo.jpeg') }}" alt="Les entrepreneurs du coudray montceaux" class="img-thumbnail">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Espace d'administration</h1>
                                    </div>
                                    <form class="user" method="POST">
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   value="{{ last_username }}" name="email" id="inputEmail"
                                                   placeholder="Adresse mail" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   placeholder="Password" name="password" id="inputPassword"
                                                   autocomplete="current-password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Se connecter
                                        </button>
                                        <hr>
                                        <!--
                                         <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                         -->
                                    </form>
                                    <div class="text-center">
                                        <!--

                                            <a class="small" href="forgot-password.html">Mot de passe oublié ?</a>
                                         -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}