<h2>Confirmation de votre demande d'adhésion</h2>
<p>Bonjour {{ demande.nomPrenom }},</p>
<p>Nous confirmons que votre demande d'adhésion a bien été enregistrée.</p>
<p>Vous pouvez suivre l'état de votre demande à l'aide du lien suivant :</p>
<p><a href="{{ trackingLink }}">Suivre ma demande</a></p>